<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.studyMaterial}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.list">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{phrase.listStudyMaterial}}</h4>
                <div class="table-responsive">
<script>
var baseUrl = (window.location).href; // السطرين دول علشان اجيب الرقم اللي جوة اللينك
var koopId = baseUrl.substring(baseUrl.lastIndexOf('/') + 1);

function MainController($scope) {	// fooدي علشان ابعت الرقم اللي جبته في متغير اسمه 
  $scope.foo = koopId;
}
angular.module('myApp', [])
.controller('MainController', MainController);
</script>
                   <table class="table table-bordered table-hover">
                        <tbody ng-controller="MainController">
                            <tr>
                                <th>{{phrase.materialTitle}}</th>
                                <th>{{phrase.materialDesc}}</th>
                                <th>{{phrase.subjectName}}</th>
                            </tr>
                            <tr  ng-repeat="material in materials" ng-if ="material.subject_id == foo" total-items="totalItems">
                                <td>{{material.material_title}}</td>
                                <td>{{material.material_description}}</td>
                                <td>{{material.subject}}</td>
                            </tr>

                            <tr ng-show="materials.length == '0'"><td class="noTableData" colspan="5">{{phrase.noMaterialData}}</td></tr>
                        </tbody>
                    </table>
                  
                    <dir-pagination-controls class="pull-right" on-page-change="getResultsPage(newPageNumber)" template-url="assets/templates/dirPagination.html" ></dir-pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>

